<header>Campaigns</header>

<p><%= link_to 'New Campaign', new_campaign_path %></p>

<% @campaigns.each do |campaign| %>
	<article><%= link_to campaign.name, campaign_path(campaign) %></article>
<% end %>